body {
  font-family: Arial;
  background: linear-gradient(135deg, #6a85b6, #b06ab3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.input-section {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

input, select {
  padding: 5px;
  flex: 1;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

/* PRIORITY COLORS */
.low {
  color: green;
}

.medium {
  color: orange;
}

.high {
  color: red;
  font-weight: bold;
}

/* FILTER BUTTONS */
.filters {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clear-btn {
  margin-top: 10px;
  background: red;
}